@import url('./components/buttons.css');
@import url('./components/groups.css');
@import url('./components/snackbar.css');
@import url('./dark-mode.css');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    width: 600px;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto; /* Make the window scrollable */
    border: 1px solid #ccc; /* Add border */
}

h1, h2 {
    color: #333;
}

textarea {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 25px);  /* Adjust width to fit next to the buttons */
    height: 100px; /* Set a height for the textarea */
    resize: vertical; /* Allow vertical resizing */
    overflow-y: auto; /* Enable vertical scrolling */
}

textarea::-webkit-scrollbar {
    width: 12px;
}

textarea::-webkit-scrollbar-track {
    background: #f1f1f1;
}

textarea::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

textarea::-webkit-scrollbar-thumb:hover {
    background: #555;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 140px); /* Adjust width to fit next to the buttons */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: #1E90FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Dropdown menu styles */
select {
    padding: 5px 5px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s, color 0.3s;
}

select:focus {
    outline: none;
    border-color: #1E90FF;
}

/* Modern scrollbar */
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Switch styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-container {
    display: flex;
    align-items: center;
}

.app-icon {
    width: 48px;
    height: 48px;
    margin-right: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-left: 10px; /* Add margin to position it properly */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: transform .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

.mode-icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    transition: opacity .4s;
}

/* Trash icon styles */
.trash-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 10px; /* Add margin to position it properly */
    content: url('../res/trash-light.png');
}

/* Settings link styles */
.settings-container {
    margin-top: 20px;
    margin-bottom: 15px;
    margin-right: 5px;
    text-align: right;
}

.settings-container a {
    color: #1E90FF;
    text-decoration: none;
}

.settings-container a:hover {
    text-decoration: underline;
}

/* Back link styles */
.back-container {
    margin-top: 20px;
}

.back-container a {
    color: #1E90FF;
    text-decoration: none;
}

.back-container a:hover {
    text-decoration: underline;
}

.path-type-container {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

path-type-container label {
    margin-right: 5px;
}

.settings-path-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.setting-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.setting-item label {
    margin-right: 10px;
}
